nav.navbar.navbar-fixed-top
	.custom-nav.container
		span.logo.pull-left Voht
		.menu-div.pull-right.visible-xs
			span.menu-icon ☰			
		ul.pull-right.nav.navbar-nav.hidden-xs
			if currentUser
				li.pull-right
					a.nav-option(href='/logout') Log Out
			else
				li.pull-right
					a.nav-option(href='/login') Login
			if currentUser
				li.pull-right
					a.nav-option(href='/profile') Profile
			else
				li.pull-right
					a.nav-option(href='/register') Register
			li.pull-right
				a.nav-option(href='/') Home