nav.navbar.navbar-fixed-top
	.custom-nav.container
		.navbar-header
			span.logo Voht
		ul.pull-right.nav.navbar-nav
			if currentUser
				li.pull-right
					a.nav-option(href='/logout') Log Out
			else
				li.pull-right
					a.nav-option(href='/login') Login
			if currentUser
				li.pull-right
					a.nav-option(href='/profile') Profile
			else
				li.pull-right
					a.nav-option(href='/register') Register
			li.pull-right
				a.nav-option(href='/') Home