extends layout

block content
	.splash-buffer
	.splash-section
		h1.splash-text 
		if !currentUser
			.reg-prompt 
				p.reg-header Create custom polls with live results.
				a.signup-btn.btn-lg(href="register") Sign Up &amp; Get Started
		else
			.reg-prompt
				p.reg-header Start creating polls now!
				a.signup-btn.btn-lg(href="profile") Create A Poll
	.divider
	.divider-two
	.divider-three
	.polls
		h1 Polls.
		each userPoll in userPolls
			.col-xs-12.poll-item-container
				a.poll-item(href="poll/" + userPoll.pollId)
					h2 #{userPoll.pollName}
		.col-xs-12.btn-container.text-center
			if pageNumber > 0
				a.btn.prev-btn.pull-left(href="/?page=" + (pageNumber - 1)) &lt;
			span.text-center.page-span Page: #{pageNumber}
			if !(((pageNumber * itemsPerPage) + itemsPerPage) >= totalDocs)
				a.btn.next-btn.pull-right(href="/?page=" + (pageNumber + 1)) &gt;
