extends layout

block content
	.row.first-row
		.col-xs-12.splash-buffer
	.row
		.col-xs-12.splash-section
			h1.splash-text
			img.visible-sm.index-splash-img(src="images/mobile-poll.jpg", width="280", height="280", alt="Poll Paper Image")
			img.visible-xs.index-splash-img(src="images/mobile-poll.jpg", width="300", height="300", alt="Poll Paper Image") 
			if !currentUser
				.reg-prompt 
					p.reg-header Create custom polls with live results.
					a.signup-btn.btn-lg(href="register") Sign Up &amp; Get Started
			else
				.reg-prompt
					p.reg-header Start creating polls now!
					a.signup-btn.btn-lg(href="profile") Create A Poll
	.row
		.col-xs-12.divider
	.row
		.col-xs-12.divider-two
	.row
		.col-xs-12.divider-three
	.row
		.col-xs-12.polls
			h1 Polls.
	each userPoll in userPolls
		.row
			.col-xs-12.poll-item-container
				a.poll-item(href="poll/" + userPoll.pollId)
					h2 #{userPoll.pollName}
	.row
		.col-xs-12.btn-container.text-center
			if pageNumber > 0
				a.btn.prev-btn.pull-left(href="/?page=" + (pageNumber - 1)) &lt;
			span.text-center.page-span Page: #{pageNumber}
			if !(((pageNumber * itemsPerPage) + itemsPerPage) >= totalDocs)
				a.btn.next-btn.pull-right(href="/?page=" + (pageNumber + 1)) &gt;
