extends layout

block content
	.splash-section
		h1.splash-text 
		if !currentUser
			.reg-prompt 
				p.reg-header Create custom polls with live results.
				btn.signup-btn.btn-lg Sign Up &amp; Get Started
	.divider
	.polls Polls.
		hr
		.row
			- for (var i = 0; i < userDocs.length; i++) {				
			- for (var j = 0; j < userDocs[i].polls.length; j++) {
			.col-xs-12.poll-item
				a(href="poll/" + userDocs[i].polls[j]._id)
					h3 #{userDocs[i].polls[j].pollName}
					h4.hidden-xs #{userDocs[i].username}
			- }
			- }