extends layout

block content
	.splash-section
		h1.splash-text 
		.reg-prompt 
			p.reg-header Register an account to create polls.
			btn.signup-btn.btn-lg.btn-success Sign Up &amp; Get Started
	.polls
		.row
			.col-xs-4.text-center I'm a poll!
			.col-xs-4.text-center So am I!
			.col-xs-4.text-center Me too!
