extends layout

block content
	.splash-section
		h1.splash-text 
		if !currentUser
			.reg-prompt 
				p.reg-header Create custom polls with live results.
				a.signup-btn.btn-lg(type="button", href="register") Sign Up &amp; Get Started
	.divider
	.polls Polls.
		hr
		.row
			each userPoll in userPolls
				.col-xs-12.poll-item
					a(href="poll/" + userPoll.pollId)
						h3 #{userPoll.pollName}