doctype html
html
	head
		title Vote | #{title}
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')    	
		link(rel='stylesheet', href='/stylesheets/app.css')
	body
		div.container
			include ./partials/_nav.pug
			block content
