doctype html
html
	head
		title Vote | #{title}
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')    
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:300|Raleway:300")
		link(rel='stylesheet', href='/stylesheets/app.css')
	body
		div.container.container-extended
			include ./partials/_nav.pug
			block content
		
		// script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js")
		// script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(
			  src="https://code.jquery.com/jquery-3.1.0.js",
			  integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=",
			  crossorigin="anonymous")
		script(src='/javascripts/script-min.js')
