extends layout

block content
	.row
		.col-md-6.col-md-offset-3
			h1.login-header Login
			form(method="POST", action="/login")
				.form-group
					label.custom-label(for="loginUsername") Enter your username:
					input.custom-input.form-control#loginUsername(type="text", placeholder="Enter your username", name="username", required)
				.form-group
					label.custom-label(for="loginPassword") Enter your password:
					input.custom-input.form-control#loginPassword(type="password", placeholder="Enter your password", name="password", required)
				button.custom-form-btn.btn.btn-info(type="submit") Log In