extends layout

block content
	.row
		.col-md-6.col-md-offset-3
			h1 Login
			form(method="POST", action="/login")
				.form-group
					label(for="loginUsername") Enter your username:
					input.form-control#loginUsername(type="text", placeholder="Enter your username", name="username", required)
				.form-group
					label(for="loginPassword") Enter your password:
					input.form-control#loginPassword(type="password", placeholder="Enter your password", name="password", required)
				button.btn.btn-info(type="submit") Log In