extends layout

block content
	.row
		.col-xs-12.col-sm-6.pull-right
			canvas#pollChart
		.col-xs-12.col-sm-6.pull-left
			form(method="POST", action="/poll")
				.form-group
					label(for="pollSelect") Select an Option
					select#pollSelect(name="pollSelect", required)
						for pollOption in pollOptions
							option #{pollOption.optionName}



	script var singleUser = !{singleUser};