extends layout

block content
	.row
		.col-xs-12.col-sm-6.pull-right
			canvas#pollChart
		.col-xs-12.col-sm-6.pull-left
			p#voteLimitMsg Only one vote is allowed per poll. You have already voted.
			form#voteForm(method="POST", action="/poll/" + userDoc.polls[0]._id + "?userId=" + userDoc._id)
				.form-group
					label(for="pollSelect") Select an Option
					select#pollSelect(name="pollSelect", required)
						for pollOption in userDoc.polls[0].pollOptions
							option #{pollOption.optionName}
					button.btn.btn-info(type="submit") Vote!


	// destringify JSON, allowing chart.js access to doc
	script var singleUser = !{userJSON}; 