extends layout

block content	
	.row
		.col-xs-12.col-sm-5
			h1.profile-greeting Hello, #{userDoc.username}!
			h3.profile-sub-greeting What would you like to do #{timeOfDay}?
		.col-xs-12.col-sm-6.col-sm-offset-1
			button.btn.btn-success#profileCreatePoll(type="button") Create Poll	
			button.btn.btn-info#profileMyPolls(type="button") My Polls
			button.btn.btn-warning#passChange(type="button") Change My Password
	.row
		.col-xs-12
			#passMessage
	.row
		.col-xs-12.divider-two
	.row
		.col-xs-12.divider-three

	// Poll Creation
	.row
		.col-xs-12#creationForm
			h1.profile-poll-header Create a Poll
			form(method="POST", action="/profile")
				.form-group
					label.custom-label(for="pollName") Name your poll:
					input.custom-input.form-control#pollName(type="text", name="pollName", placeholder="What is your favourite color?", required)
				.form-group#optionGroup
					label.custom-label(for="pollOption1") Enter options:
					input.custom-input.form-control#pollOption1(type="text", name="pollOption1", placeholder="Red", required)
					input.custom-input.form-control#pollOption2(type="text", name="pollOption2", placeholder="Blue", required)
				button.custom-form-btn.btn.btn-default#addOption(type="button") Add Option			
				button.custom-form-btn.btn.btn-info(type="submit") Submit

	// My Polls
	#myPollList
		.row.col-xs-12
			h1.profile-poll-header Your Polls
		each poll in userDoc.polls
			.row.profile-row
				.col-xs-12.col-sm-6
					a(href='poll/' + poll._id)
						h2 #{poll.pollName}
						h4 Created on: #{poll.createdOn.toString().slice(4, 15)}
				.col-xs-12.col-sm-6
					button.btn.btn-danger.pull-right.del-btn Delete

	// Password Change Modal

	.modal-bg
		.password-modal
			h1 Change your password
			hr
			form#passChangeForm(method="POST", action="/passwordChange/" + userDoc._id)
				.form-group
					label.custom-label(for="originalPassword") Original Password
					input.custom-input.form-control#originalPassword(type="password", name="originalPassword", placeholder="Enter your original password", required)
					label.custom-label(for="newPassword") New Password
					input.custom-input.form-control#newPassword(type="password", name="newPassword", placeholder="Minimum length of 8 characters required", required)
					label.custom-label(for="newPasswordRepeat") Repeat Your New Password
					input.custom-input.form-control#newPasswordRepeat(type="password", name="newPasswordRepeat", placeholder="Confirm your new password", required)
					button.custom-form-btn.btn.btn-warning(type="submit") Submit Changes
					div#closeModal X