extends layout

block content	
	.col-xs-12.text-center Hello, #{userDoc.username}!
	.col-xs-12.text-center What would you like to do #{timeOfDay}?
	.col-xs-12.text-center
		button.btn.btn-success#profileCreatePoll(type="button") Create Poll	
		button.btn.btn-info#profileMyPolls(type="button") My Polls

	// Poll Creation
	.col-xs-12#creationForm
		form(method="POST", action="/profile")
			.form-group
				label(for="pollName") Name your poll:
				input.form-control#pollName(type="text", name="pollName", placeholder="What is your favourite color?", required)
			.form-group#optionGroup
				label(for="pollOption1") Enter options:
				input.form-control#pollOption1(type="text", name="pollOption1", placeholder="Red", required)
				input.form-control#pollOption2(type="text", name="pollOption2", placeholder="Blue", required)
			button.btn.btn-default#addOption(type="button") Add Option			
			button.btn.btn-info(type="submit") Submit

	// My Polls
	#myPollList
		each poll in userDoc.polls
			.col-xs-12
				a(href='poll/' + poll._id)
					h3 #{poll.pollName}
					h4 #{poll.createdOn}