extends layout

block content	
	.col-xs-12.text-center Hello, #{userDoc.username}!
	.col-xs-12.text-center What would you like to do #{timeOfDay}?
	.col-xs-12.text-center
		button.btn.btn-success#profileCreatePoll(type="button") Create Poll	
		button.btn.btn-info#profileMyPolls(type="button") My Polls
		button.btn.btn-warning#passChange(type="button") Change My Password
		#passMessage 

	// Poll Creation
	.col-xs-12#creationForm
		form(method="POST", action="/profile")
			.form-group
				label(for="pollName") Name your poll:
				input.form-control#pollName(type="text", name="pollName", placeholder="What is your favourite color?", required)
			.form-group#optionGroup
				label(for="pollOption1") Enter options:
				input.form-control#pollOption1(type="text", name="pollOption1", placeholder="Red", required)
				input.form-control#pollOption2(type="text", name="pollOption2", placeholder="Blue", required)
			button.btn.btn-default#addOption(type="button") Add Option			
			button.btn.btn-info(type="submit") Submit

	// My Polls
	#myPollList
		each poll in userDoc.polls
			.col-xs-12
				a(href='poll/' + poll._id)
					h3 #{poll.pollName}
					h4 #{poll.createdOn}
				button.btn.btn-danger Delete

	// Password Change Modal

	.modal-bg
		.password-modal
			h1 Change your password
			hr
			form#passChangeForm(method="POST", action="/passwordChange/" + userDoc._id)
				.form-group
					label(for="originalPassword") Original Password
					input.form-control#originalPassword(type="password", name="originalPassword", placeholder="Enter your original password", required)
					label(for="newPassword") New Password
					input.form-control#newPassword(type="password", name="newPassword", placeholder="Enter your new password", required)
					label(for="newPasswordRepeat") Repeat Your New Password
					input.form-control#newPasswordRepeat(type="password", name="newPasswordRepeat", placeholder="Confirm your new password", required)
					button.btn.btn-warning(type="submit") Submit Changes
					button.btn.btn-success#closeModal(type="button") PLACEHOLDER CLOSE