extends layout

block content
	.row
		.col-md-6.col-md-offset-3
			h1 Sign Up
			form(method="POST" action="/register")
				.form-group
					label(for="username") Register a username:
					input.form-control#username(type="text" placeholder="Enter a username")
				.form-group
					label(for="email") Email address:
					input.form-control#email(type="email" placeholder="Enter your email address")
				.form-group
					label(for="password") Password:
					input.form-control#password(type="password" placeholder="Enter a password")
				.form-group
					label(for="passwordConfirm") Confirm password:
					input.form-control#passwordConfirm(type="password" placeholder="Confirm your password")
				button.btn.btn-info(type="submit") Submit Details
