extends layout

block content
	.row
		.col-md-6.col-md-offset-3
			h1.custom-header Sign Up
			form(method="POST", action="/register")
				.form-group
					label.custom-label(for="registerUsername") Register a username:
					input.custom-input.form-control#registerUsername(type="text", placeholder="Enter a username", name="username", required)
				.form-group
					label.custom-label(for="registerEmail") Email address:
					input.custom-input.form-control#registerEmail(type="email", placeholder="Enter your email address", name="email", required)
				.form-group
					label.custom-label(for="registerPassword") Password:
					input.custom-input.form-control#registerPassword(type="password", placeholder="Password must be at least 8 characters long", name="password", required)
				.form-group
					label.custom-label(for="passwordConfirm") Confirm password:
					input.custom-input.form-control#passwordConfirm(type="password", placeholder="Confirm your password", name="confirmPassword", required)
				button.custom-form-btn.btn.btn-info(type="submit") Submit Details
