extends layout

block content
	.row
		.col-md-6.col-md-offset-3
			h1 Sign Up
			form(method="POST", action="/register")
				.form-group
					label(for="registerUsername") Register a username:
					input.form-control#registerUsername(type="text", placeholder="Enter a username")
				.form-group
					label(for="registerEmail") Email address:
					input.form-control#registerEmail(type="email", placeholder="Enter your email address")
				.form-group
					label(for="registerPassword") Password:
					input.form-control#registerPassword(type="password", placeholder="Enter a password")
				.form-group
					label(for="passwordConfirm") Confirm password:
					input.form-control#passwordConfirm(type="password", placeholder="Confirm your password")
				button.btn.btn-info(type="submit") Submit Details
