@import 'partials/_nav';
@import 'partials/_index';
@import 'partials/_profile';
@import 'partials/_poll';

html {
	height: 100%;
}

body {
	font-size: 18px;
	background: #eee;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

.container {
	margin-bottom: 100px;
	background: #fff;
	min-height: 80%;
}