@import 'partials/_nav';
@import 'partials/_index';
@import 'partials/_profile';
@import 'partials/_poll';

html {
	height: 100%;
}

body {
	font-size: 18px;
	background: #eee;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

.container-extended {
	margin-bottom: 100px;
	background: #fff;
	min-height: 95%;
}

.first-row {
	margin-top: 55px;
}

.custom-header {
	font-size: 48px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 25px;
}

.custom-label {
	margin-bottom: 10px;
	font-size: 22px;
}

.custom-input {
	margin-bottom: 7px;
	height: 40px;
	font-size: 20px;
}

.custom-form-btn {
	margin-top: 10px;
	font-size: 18px;
	margin-right: 10px;
}

// Small Styles
@media (min-width: 768px) and (max-width: 991px) {
	.container-extended {
		min-height: 100%;
		margin-bottom: 0px;
	}
}

// Extra Small Styles
@media (max-width: 767px) {
	.container-extended {
		min-height: 100%;
		margin-bottom: 0px;
	}
}