@import 'partials/_nav';
@import 'partials/_index';
@import 'partials/_profile';
@import 'partials/_poll';
@import 'partials/_login';

html {
	height: 100%;
}

body {
	font-size: 18px;
	background: #eee;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

.container {
	margin-bottom: 100px;
	background: #fff;
	min-height: 80%;
}

.custom-label {
	margin-bottom: 10px;
	font-size: 22px;
}

.custom-input {
	margin-bottom: 7px;
	height: 40px;
	font-size: 20px;
}

.custom-form-btn {
	font-size: 18px;
	margin-right: 10px;
}