.splash-section {
	height: 500px;
	background: #fff;
	position: relative;
	background: url(../../images/vote-splash.jpg);
}

h1 {
	margin: 0px;
	position: absolute;
	top: 25%;
	left: 25%;
}

.polls {
	background: #068BCC;
}