.custom-nav {
	background: #068BCC;
	height: 55px;		
}

.logo {
	color: #fff;
	font-size: 28px;
	line-height: 55px; // vertically centers text	
}

.menu-div {
	display: inline-block;
}

.menu-icon {
	color: #fff;
	font-size: 26px;
	line-height: 55px;
}

.nav-option {	
	color: #fff;	
	font-size: 20px;
	margin-top: 3px;	
}

.nav > li > a:hover {
	background: transparent;
	color: #eee;
}

.nav > li > a:active {
	background: transparent;
	color: #ddd;
}

.nav > li > a:focus {
	background: transparent;
	color: #ddd;
}