#pollChart {
	margin-top: 50px;
	height: 400px; 
	width: 400px; 
}

.poll-name {
	font-size: 28px;
	margin-top: 10px;
}

.poll-total-votes {
	font-size: 24px;
}

#voteForm {
	margin-top: 50px;
}

#voteLimitMsg {
	display: none;
	font-size: 24px;
}

#addForm {
	margin-top: 40px;
}


// Extra Small Styles
@media (max-width: 767px) {
	.form-col {
		text-align: center;
		margin-bottom: 100px;
	}
}