.profile-greeting {
	font-size: 72px;
	margin-top: 85px;
	margin-left: 20px;
	margin-bottom: 30px;
}

.profile-sub-greeting {
	font-size: 35px;
	margin-bottom: 80px;
	margin-left: 20px;
}

#profileCreatePoll, #profileMyPolls, #passChange {
	display: block;
	margin: 10px auto 10px;
	font-size: 30px;
	width: 324px;
	margin-left: 200px;
}

#profileCreatePoll {
	margin-top: 85px;
}

#passMessage {
	display: none;
	font-size: 32px;
	text-align: center;
	margin-bottom: 25px;
}

#creationForm {
	display: none;
}

form[action="/profile"] {	
	width: 95%;
	margin: 30px auto 75px;
}

.custom-label {
	margin-bottom: 10px;
	font-size: 22px;
}

.custom-input {
	margin-bottom: 7px;
	height: 40px;
	font-size: 20px;
}

.custom-form-btn {
	font-size: 18px;
	margin-right: 10px;
}

.profile-poll-header {
	font-size: 48px;
	padding-top: 15px;
	padding-bottom: 22px;
	border-bottom: solid 1px #ddd;
	padding-left: 10px;
}

.profile-row {
	border-bottom: 1px solid #eee;
}

.profile-row h2 {
	padding-bottom: 5px;
	padding-left: 20px;
}

.profile-row h4 {
	padding-bottom: 20px;
	padding-left: 20px;
}

.del-btn {
	margin-top: 50px;
	font-size: 20px;
}

.modal-bg {
	visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.0);    
  transition: background 0.5s;
}

.bg-active {
	visibility: visible;
	background: rgba(0, 0, 0, 0.5);
}

.open-modal-body {
	overflow: hidden;
	height: 100%;
	position: fixed;
	width: 100%;
}

.password-modal {
	border-radius: 5px;	
	opacity: 0;	
	background: #fff;
	margin: 50px auto 0;	
	transition: opacity 0.7s, transform 0.55s ease-in-out;
	transform: translateY(-300px);
	width: 90%;
	max-width: 600px;
	padding: 25px;
}

.modal-active {
	opacity: 1;
	transform: translateY(100px)
}

#passChangeForm label {
	margin-bottom: 6px;
}

#passChangeForm input {
	margin-bottom: 18px;
}

#passChangeForm button {
	margin-top: 10px;
}

#closeModal {
	position: absolute;
	top: 2%;
	right: 2.5%;
	font-size: 30px;
	cursor: pointer;
}